@media screen and (min-width:32.5em) {
  article{
    background-color: red;
    
    padding: 1rem 3rem;
        }
    }       

header {
    display:grid 1fr,1fr;
}

header div.wrapper{ 
    
    border-radius: 6rem; 
    align-items: center; 
    justify-content: center;
    
}

h1 {
    text-shadow: 2px 2px 5px rgb(23, 23, 168);
    
  }


footer div {
    box-shadow: 5px 5px rgb(11, 180, 115);
  }