body{
    margin:5rem;
    max-width: 500px;
}

span{
    font-weight: 700;
}
#lastDate {
    color: blueviolet(50,50,250,1);
}

header div.wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
}

header div.wrapper img{
    width: 100px;
}

main h1 {
    text-align: center;
}
footer {
    text-align: center;
    background-color: aqua;
}