.body {
    max-width: 1080px;
    width: 1080px;
  }

  .city-img {
    transition: transform .2s;
  }

  @media only screen and (min-width: 600px) {
    .city-img:hover {
    transform: scale(1.1);
  }
  }
  

  .discover-heading {
    display: flex;
    justify-content: center;
  }

  style {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        
      }