.list {
	display: flex;
	flex-direction: column;
}

.list div {
	display: flex;
	align-items: center;
}

.grid div {
	flex-direction: column;
	text-align: center;
}

.grid div > * {
	margin: 0.1rem;
}

.list div {
	flex-direction:column;
}