/* Tablet Views ***********/

@media only screen and (min-width: 37.5em) {
    h1 {
      font-size: 1.5rem;
    }
  
    nav ul {
      display: flex;
    }
  
    nav ul li {
      flex: 1 1 auto;
    }
  
    nav a {
      font-size: 1rem;
    }
  
    nav a:hover {
      background-color: rgb(173, 180, 160);
      color: whitesmoke;
    }
  
    main {
      grid-template-columns: 1fr 1fr;
    }
  
    article:nth-child(3) {
      grid-column: span 2;
    }
  
    main picture {
      display: block;
    }
  
    main picture img {
      width: 100%;
      height: auto;
      border: 1px solid rgb(75, 73, 73);
    }
  }
  
  